<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' {{ printf "content=%q" $description | safeHTMLAttr }}>
{{ with .Params.Keywords }}<meta name="keywords" content="{{ delimit . ", " }}">{{ end }}

{{- $title := partial "data/title" . -}}
<title>{{ $title }}</title>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}

<link rel="stylesheet" href="https://s4.zstatic.net/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/style.min.css" />
<style>
:root {
    --sys-font-family: "LXGW WenKai Screen", "Microsoft YaHei", sans-serif !important;
    --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei" !important;
    --base-font-family: var(--sys-font-family), var(--zh-font-family), sans-serif !important;
    --code-font-family: "LXGW WenKai Screen", Menlo, Monaco, Consolas, "Courier New", monospace !important;
}

body, html, * {
    font-family: "LXGW WenKai Screen", "Microsoft YaHei", sans-serif !important;
}
</style>

<link rel='canonical' href='{{ .Permalink }}'>
{{- partial "head/opengraph/include.html" . -}}
{{- range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{ with .Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ . | relURL }}" />
{{ end }}

{{- template "_internal/google_analytics.html" . -}}
{{- partial "head/custom.html" . -}}
