{{- with .Site.Params.comments.cactus -}}
<!-- 直接加载CSS和JS -->
<link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
<script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>

<style>
    .cactus-editor-textarea {
        color: var(--body-text-color);
    }

    .cactus-comment-header {
        color: var(--card-text-color-main);
    }

    .cactus-message-text > p {
        color: var(--body-text-color);
    }
</style>

<div id="comment-section"></div>

<script>
    initComments({
        node: document.getElementById("comment-section"),
        defaultHomeserverUrl: "{{ .defaultHomeserverUrl | safeJS }}",
        serverName: "{{ .serverName }}",
        siteName: "{{ .siteName }}",
        commentSectionId: "{{ $.File.UniqueID }}"
    })
</script>
{{- end -}}
